body {
    background: linear-gradient(rgb(57, 165, 248), navy);
    font-size: 12px;
}

.body-layout-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10vh;
}

.header-style {
    font-size: 20px;
    font-weight: bolder;
}

.link1:hover, .link2:hover, .link3:hover, .link4:hover {
    transition: 1s;
    padding: 10px;
    font-weight: 700;
}

header {
    background-color: rgba(1, 255, 208, 0.786);
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky; 
    top: 0; 
    padding: 15px;
    height: 30px;
}

footer {
    background-color: rgba(1, 255, 208, 0.786);
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky; 
    bottom: 0; 
    padding: 15px;
}

body {
    margin: 0;
}

.homefront {
    display: flex;
}

.big-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.image-homepg {
    width: 100%;
    border-bottom-right-radius: 30px;
}

.firstbio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    /* height: 600px; */
    background: rgb(42, 127, 255);
    font-size: 10px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    border-bottom-left-radius: 30px;
}

.portrait {
    /* height: 300px; */
    width: 80%;
    height: 55%;
    border-radius: 999px;
} 
/* .lessdefinitivefirstbio  */






.mainprojectphoto1, .mainprojectphoto2, .mainprojectphoto3, .mainprojectphoto4 {
    justify-content: space-between;
    width: 500px;
    border-radius: 50px;
    height: 300px;
    box-shadow: 10px, 10px, 10px, black;
}

.mainprojectphoto1:hover, .mainprojectphoto2:hover, .mainprojectphoto3:hover, .mainprojectphoto4:hover {
    transition: 1s;
    width: 600px;
    height: 400px;
}

.scrollobject {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    overflow-y: scroll;
    overflow-y: hidden;
    height: 500px;
    width: 100%;
}



.titlebox {
    display: flex;
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.title-proj1 {
    display: flex;
    font-size: 60px;
    font-family: "Iosevka Charon", monospace;
    align-items: center;
}

.proj1img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px;
}

.proj1img:hover {
    transition: 5s;
    width: 85%;
    height: 450px;

    }

.proj1text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url(space.jpeg);
    background-size: contain;
    border-radius: 30px;
    width: 75%;
    height: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1px;
   
    background-color: rgb(7, 17, 37);
}

.proj1text:hover {
    transition: 1s ease;
    color: azure;
    /* background-image: url(); */
    font-size: 15px;

}

/* .title-proj1:hover {
    transition: 0.5s;
    color: rgb(141, 141, 225);
}

.titlebox:hover {
    transition: 2s;
    background-color: darkblue;
} */

.proj1imgproj1, .proj1imgproj2, .proj1imgproj3 {
    width: 40%;
    height: 30%;
    border-radius: 30px;
}

.proj1textproj1, .proj1textproj2, .proj1textproj3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.boxtext1, .boxtext2, .boxtext3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

/* .background-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: blue; 
    animation: fadeOut linear forwards;
    animation-timeline: scroll(); 
}

@keyframes fadeOut {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: 0; 
    }
}

.content-wrapper {
    position: relative;
    z-index: 1; 
    padding-top: 50vh;
    height: 200vh; 
    background-color: white; 
} */