body {
    background: rgb(57, 165, 248);
    font-size: 12px;
}

.body-layout-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10vh;
}

.header-style {
    font-size: 20px;
    font-weight: bolder;
}

.link1:hover, .link2:hover, .link3:hover, .link4:hover {
    transition: 1s;
    padding: 10px;
    font-weight: 700;
}

header {
    background-color: rgba(1, 255, 208, 0.786);
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky; 
    top: 0; 
    padding: 15px;
    height: 30px;
}

footer {
    background-color: rgba(1, 255, 208, 0.786);
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky; 
    bottom: 0; 
    padding: 15px;
}

body {
    margin: 0;
}

.homefront {
    display: flex;
}

.big-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.image-homepg {
    width: 100%;
    border-bottom-right-radius: 30px;
}

.firstbio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    /* height: 600px; */
    background: rgb(42, 127, 255);
    font-size: 10px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    border-bottom-left-radius: 30px;
}

.portrait {
    /* height: 300px; */
    width: 100%;
    border-radius: 10px;
} 
/* .lessdefinitivefirstbio  */






.mainprojectphoto1, .mainprojectphoto2, .mainprojectphoto3, .mainprojectphoto4 {
    justify-content: space-between;
    width: 500px;
    border-radius: 50px;
    height: 300px;
    box-shadow: 10px, 10px, 10px, black;
}

.mainprojectphoto1:hover, .mainprojectphoto2:hover, .mainprojectphoto3:hover, .mainprojectphoto4:hover {
    transition: 1s;
    width: 600px;
    height: 400px;
}

.scrollobject {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    overflow-y: scroll;
    height: 500px;
    /* scroll-margin-left: auto; */
    width: 100%;
}


.titlebox {
    display: flex;
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;
    width: 1350px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.title-proj1 {
    display: flex;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.proj1img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 1000px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px;
}

.proj1img:hover {
    transition: 5s;
    width: 1250px;
    height: 500px;

    }

.proj1text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url(highland-cow.jpg);
    background-size: cover;
    border-radius: 30px;
    width: 600px;
    height: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.proj1text:hover {
    transition: 1s ease;
    background-color: rgba(240, 248, 255, 0.444);
    background-image: url();
    font-size: 25px;

}

.title-proj1:hover {
    transition: 0.5s;
    color: rgb(141, 141, 225);
}

.titlebox:hover {
    transition: 2s;
    background-color: darkblue;
}